@model Employee
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>@Model.firstName @Model.lastName</h1>
<h2>@Model.role?.title</h2>
<h3>@Model.hoursAssigned</h3>
