@model Company
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>@Model.name</h1>
<h2>@Model.lineOfBusiness?.title</h2>
<h3>@Model.headquarters</h3>
